@media screen and (max-width:767px) {
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bacdiv{
        width: 100%;

    }
    h1{
        font-size: 2rem;
    }
    h5{
        font-size: 0.8rem;
    }
    form{
        width: 80% !important;
    }
    input,input::placeholder{
        font-size: 15px;
    }

}