/* IMPORT FONTS */
@font-face {
    font-family: "Merriweather-Bold";
    src: url(../FONTS/Merriweather/Merriweather-Bold.ttf);
}
@font-face {
    font-family: "Merriweather-Regular";
    src: url(../FONTS/Merriweather/Merriweather-Regular.ttf);
}
@font-face {
    font-family: "Merriweather-BoldItalic";
    src: url(../FONTS/Merriweather/Merriweather-BoldItalic.ttf);
}
@font-face {
    font-family: "Merriweather-Italic";
    src: url(../FONTS/Merriweather/Merriweather-Italic.ttf);
}
@font-face {
    font-family: "Merriweather-LightItalic";
    src: url(../FONTS/Merriweather/Merriweather-LightItalic.ttf);
}
@font-face {
    font-family: "Merriweather-Black";
    src: url(../FONTS/Merriweather/Merriweather-Black.ttf);
}
@font-face {
    font-family: "Merriweather-Light";
    src: url(../FONTS/Merriweather/Merriweather-Light.ttf);
}
@font-face {
    font-family: "Poppins-Light";
    src: url(../FONTS/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: "Poppins-MediumItalic";
    src: url(../FONTS/Poppins/Poppins-MediumItalic.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../FONTS/Poppins/Poppins-Regular.ttf);
}

/* Scrollbar width reduced---snippet-- */


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.modal-header{
    padding:0.5rem 1rem !important;
}
.close:focus{
    outline: none;
}
.main-container{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f8fafb;
    background-image: url(../IMG/dark-green-texture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    position: sticky;
    top: 0;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
}
.active{
    color: #000;
}
.navbar button[aria-expanded="false"] > .close{
    display:none;
}
.navbar button[aria-expanded="true"] > .open{
    display:none;
}
.nav-link,.dropdown-item,.navbar-brand{
    font-family: "Merriweather-Regular";
}

.a1{
    width: 100%;
    height: 100%;
}

#challenges,#leaderboards,#lottery{
    display: none;
}
/* ,*/


/* Leaderboard page */
.pull-right a{
    background-color: #026852;
    color: #ffffff;
}
.pull-right a:hover{
    color: #026852;
    background-color: #ffffff;
}

#leaderboards th,#leaderboards td,#challenges th,#challenges td,#posts th,#posts td{
    color: #ffffff;
    text-align: center;
}
.tebtn,.backbtn{
    background-color: #ffffff;
    color: #026852;
}
.tebtn:hover,.backbtn:hover{
    background-color: #026852;
    color: #ffffff;
}


/* backbtn */
.backbtn{
    border: 2px solid #026852;
}
.subbtn,.lotbtn{
    background-color: #026852;
    color: #ffffff;
}
.subbtn:hover,.lotbtn:hover{
    background-color: #ffffff;
    color: #026852;
}

.adimg,.adtext,.adposts,.useposts{
    display: none;
}
