/* IMPORT FONTS */
@font-face {
    font-family: "Montserrat-Light";
    src: url(../FONTS/Montserrat/Montserrat-Light.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../FONTS/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../FONTS/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(../FONTS/Montserrat/Montserrat-SemiBold.ttf);
}

.main-container{
    width: 100%;
    min-height: 100vh;
    background-image: url(../IMG/green-slate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
nav{
    position: sticky !important;
    top: 0;

}
.navbar button[aria-expanded="false"] > .close{
    display:none;
}
.navbar button[aria-expanded="true"] > .open{
    display:none;
}
.nav-link,.dropdown-item,.navbar-brand{
    font-family: "Montserrat-Regular";
}
.dropdown-item:hover{
    color: #005d49;
}
.leaderboard{
    width: 100%;
    height: 100%;
}
.leaderboard h1{
    font-size: 42px;
    font-family: "Montserrat-Bold";
}
.leaderboard div{
    width: 45%;
}
table,tr,td,th{
    border-bottom: 1px solid #2d2d2e;
}
td{
    text-align: center;
    color: #faf8fa;
    font-size: 17px;
    font-family: "Montserrat-Light";
}
th{
    font-size: 22px;
    font-family: "Montserrat-SemiBold";
}

.modal-header{
    padding:0.5rem 1rem !important;
}
.modal-title{
    font-family: "Montserrat-Bold";
    color: #004532;
}
.modal-body h5{
    font-family: "Montserrat-SemiBold";
    font-size: 17px;
}
.modal-body button{
    font-family: "Montserrat-Bold";
}